/*
.text-area, .text-area .content {
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
    -fx-background-color: #000000;
}
*/

.taskPopup{
    -fx-background-color: #eef4fc;
    -fx-border-width: 2px;
    -fx-border-color: #4d5362;
}

#dbModelParentPane {
    -fx-background-color: white;
}

#dbModelParentPane:disabled {
    -fx-opacity: 0.4;
}

#dbModelScrollPane, #dbModelScrollPane > .viewport  {
    -fx-background-color: transparent;
}

#dbModelPane {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

#dbModelPane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}

#dbModelPane:disabled {
    -fx-opacity: 0.4;
}

.menu-bar {
    -fx-padding: 0;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}